

h1 {font-size: 45px; font-weight: 350; line-height: 55px;}

.topmargin-xm { margin-top: 15px; }
.topmargin-sm { margin-top: 30px; }
.topmargin-lg { margin-top: 60px; }

.btn{

	font-size: 16px;
	padding: 15px 26px;
	border-radius: 2px;
	display: inline-block;
}

.btn-light {
	background: #ffffff;
	color: #1a1a1a;
	border-radius: 2px solid #ffffff;
}

.btn i {
	font-size: 14px; margin-left: 5px;
}

.navbar {
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px

}


.nav-link { color: #ffffff;
           background-color: #ff0000;
           border: #ff0000;


}

.logo-brand {
	min-width: 160px;
	max-width: 180px;

}

.navbar-toggler { font-size: 40px; }
.navbar-toogler-focus { outline: none; }


#hero {
	background-image: url('images/17.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height:700px;
	color: #ffffff;
}


#hero p {
	color: #ffffff;
}

.content-center {
	max-width: 800px;
	margin: 0 auto 60px auto ;
        font-size: 20px;
} 

/*formulario login*/

.container{
height: 100%;
align-content: center;
}

.card{
height: 100%;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.5) !important;
}

.color-text{
    color: #FFC312;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 10px;
background-color: #ff3333;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
    color: #ffcc33;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { h1 { font-size: 40px; line-height: normal; } }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
